body{
  margin:0;
  text-align: center;
  background-color: #ffffff;

}
p{
  line-height: 1.5 ;
}

h1{
margin-top: 0;
font-family: 'Kaushan Script', cursive;
font-size: 70px;
}

 h2{
   font-size: 2.3rem;
   font-family: 'Fredoka One', cursive;
padding-bottom: 10px;
 }

 h3{
   font-size: 1.9rem;
   font-family: 'Montserrat', sans-serif;

 }
 h4{
  font-family: 'Aclonica', sans-serif;
font-size: 30px;
 }
.Top-container{
background-color:  #bce6eb;
position: relative;
padding-top:110px;
}

.middle-container{
  margin: 100px 0;
font-family: 'Aclonica', sans-serif;
}

.bottom-container{
background-color: #bce6eb;
padding: 50px 0 20px;

}

.pro{
   text-decoration: underline;
   font-size: 30px;
 }

 .top-cloud{
   position: absolute;
   right: 300px;
   top: 40px;
   width: 16%;
 }

.Bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
   width: 18%;
}

.skill-row{

  text-align: left;
  width: 50%;
  margin: 70px auto 70px auto;
}


.programmer{
 width: 25%;
float: left;
margin-right: 20px;
}

.gaming{
 width: 23%;
 float: right;
 margin-left: 10px;
}

.intro{
  width: 31%;
  margin: auto;
}

hr{
  border: dotted #bbbbbb 6px;
border-bottom: none;
width: 6%;
margin: 100px auto 100px auto;
}


.btn {
 background: #007bff;
 background-image: -webkit-linear-gradient(top, #007bff, #117ff5);
 background-image: -moz-linear-gradient(top, #007bff, #117ff5);
 background-image: -ms-linear-gradient(top, #007bff, #117ff5);
 background-image: -o-linear-gradient(top, #007bff, #117ff5);
 background-image: linear-gradient(to bottom, #007bff, #117ff5);
 -webkit-border-radius: 9;
 -moz-border-radius: 9;
 border-radius: 9px;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
}

.btn:hover {
 background: #3cb0fd;
 background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
 background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
 text-decoration: none;
}

.get{
  font-family: 'Fredoka One', cursive;
}


a{
  color: #3cb0fd;
  'Montserrat', sans-serif;
  margin: 5px 10px;
  text-decoration: none;
}

a:hover{
  color: black;
}
